@import '../../styles.scss';

.title-projects{
  display: flex;
  flex-direction: column;
}

.projects-wrapper{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem 3rem;

  .div-link{
    cursor: pointer;

  .image-preview{
    height: 30vh;
    width: 100%;
    overflow: hidden; 
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.5rem;
    transition: ease-in 0.3s;


    &:hover{
      opacity: 1;
    }
  }
  }
}


@media (max-width: 900px){

  .projects-wrapper{
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem 3rem;
  }
}
