@import '../../styles.scss';

.title-projects{
  display: flex;
  flex-direction: column;
}

.projects-wrapper{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem 3rem;

  .receta-title{
    border-bottom: 1px $bluesoft solid;
    padding-bottom: 0.8rem;
    cursor: pointer;

  }

  .div-link{
    cursor: pointer;

  .image-preview{
    height: 30vh;
    width: 100%;
    overflow: hidden; 
    object-fit: cover;
    opacity: 0.9;
    border-radius: 0.2rem;
    transition: ease-in 0.2s;


    &:hover{
      opacity: 1;
      border-radius: 0.8rem;
      box-shadow: 5px 5px 30px -16px rgba(0,0,0,0.6);

    }
  }
  }
}


@media (max-width: 900px){

  .projects-wrapper{
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem 3rem;
  }
}
