@import '../styles.scss';


.strong-title{
    font-family: 'Montserrat', sans-serif;
	font-size: 18px;
    text-decoration: none;
    color: $bluehard;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}