@import '../../styles.scss';
    .container-detail{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
   
    .detail-hero{
        display: flex;
        flex-direction: column;

        .receta-title-detail{
            border-bottom: 1px $bluesoft solid;
            padding-bottom: 1rem;
            cursor: pointer;
        
          }
    
        .detail-img{
            min-width: 100%;
            max-width: 100%;
            margin-top: 2rem;
            border-radius: 0.4rem;
            margin-bottom: 4rem;
        }
    }
    
    .description-container{
        min-width: 100%;
        display: grid;
        grid-template-columns: 0.6fr 1.6fr;
        gap: 0 4rem ; 
        margin-bottom: 2rem;

    
        .ingredients-wrapper{
            min-width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem 5rem;
            margin-bottom: 2rem;
        }

        .description-text{

            max-width: 500px !important;


            p{
                margin-bottom: 1rem;
            }
        }
    }
    
    
    @media (max-width: 900px){
        .detail-hero{
            display: flex;
            flex-direction: column;
        
            .detail-img{
                min-width: 100%;
                max-width: 100%;
                margin-top: 2rem;
                border-radius: 1rem;
                margin-bottom: 2rem;
            }
        }
        

        .description-container{
            grid-template-columns: 1fr ;

            .ingredients-wrapper{
                margin-bottom: 1rem;
            }

        }
    }
       
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .title-index{
            margin-bottom: 1rem;
        }
    









