/* reset =========================>>>>>=========*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset =========================>>>>>=========*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');


*{
    box-sizing: border-box;
    text-align: start;
    text-decoration: none;
}


$bluehard:#10095a;
$bluesoft:#60568e;

$redhard:#ce6969;
$redsoft:#e29b9a;


$transition1: all 0.3s ease-in-out;

.heading{
    font-family: 'Changa one', sans-serif;
	font-size: 52px;
    text-decoration: none;
    color: $bluehard;
    text-align: start;
    
}

.heading2-blue{
    font-family: 'Changa one', sans-serif;
	font-size: 28px;
    text-decoration: none;
    color: $bluehard;
}

.heading2-red{
    font-family: 'Changa one', sans-serif;
	font-size: 28px;
    text-decoration: none;
    color: $redhard;
    margin-bottom: 1rem;
}

.heading3-red{
    font-family: 'Changa one', sans-serif;
	font-size: 18px;
    text-decoration: none;
    color: $redhard;
    margin-bottom: 0.6rem;
}

.text-blue{
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px; 
    color: $bluesoft; 
    max-width: 450px;
    margin-bottom: 10px;
    text-decoration: none; 
    text-align: start;
}

.text-red{
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px; 
    color: $redsoft; 
    max-width: 450px;
    margin-bottom: 10px;
}


.container{
    padding: 40px 100px 30px 100px;
    display: flex;

}



@media (max-width: 900px){
    .container{
        padding: 20px 40px 20px 40px;
    }

    .heading2-red{
        font-size: 22px;
        text-decoration: none;
        color: $redhard;
        margin-bottom: 1rem;
    }

    .heading{
        font-size: 36px;
    }

    .text-blue{
        font-size: 12px;
    }
}